#search-button {
  border: none;
  padding: 5px 20px;
  border-radius: 0 8px 8px 0;
  font-size: 25px;
  font-weight: bold;
  color: seagreen;
}

.logo{
  width: 6%;
}

#search-button:hover{
  background-color: teal;
  color: bisque;
}

#input {
  border: none;
  padding: 5px 20px;
  border-radius: 8px 0 0 8px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #6c96f0;
}

#body-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.hungry-image {
  box-shadow: 10px 10px 30px #e4e7e7;
  width: 70%;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f1e3e3;
}

.hungry-image h2 {
  padding: 10px;
}

.hungry-image img {
  width: 100%;
  border-radius: 10px;
}

#submit-area {
  text-align: center;
  margin: 30px;
}

.ingredient {
  list-style: none;
  font-weight: bold;
}

.food-detail {
  width: 50%;
  margin: 0 auto;
}

.food-detail img {
  width: 100%;
  border-radius: 12px;
}

/* closing all css here */