#body-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  
}
.hungry-image{
  box-shadow: 10px 10px 30px rgb(228, 231, 231);
  width: 70%;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(241, 227, 227);
}
.hungry-image h2{
  padding: 10px;
}
.hungry-image img {
  width: 100%;
  border-radius: 10px;
}

#submit-area {
  text-align: center;
  margin: 30px;
}
.ingredient {
  list-style: none;
  font-weight: bold;
}
.food-detail{
  width: 50%;
  margin: 0 auto;
}
.food-detail img{
  width: 100%;
  border-radius: 12px;
}
